
@{
    ViewBag.Title = "Education";
}
<a class=" btn btn-primary" href="https://localhost:44389/Home/Index">Index</a>
<a class=" btn btn-dark" href="https://localhost:44389/Home/Contact">Contact <br /> Information</a>
<a class=" btn btn-danger" href="https://localhost:44389/Home/Education">Education</a>


<h2>Education History</h2>

<h5>BSC</h5>
<li>@ViewBag.Bsc[0]</li>
<li>@ViewBag.Bsc[1]</li>
<li>@ViewBag.Bsc[2]</li>



<h5>HSC</h5>

<li>@ViewBag.Bsc[0]</li>
<li>@ViewBag.Bsc[1]</li>
<li>@ViewBag.Bsc[2]</li>


<h5>SSC </h5>
<li>@ViewBag.Bsc[0]</li>
<li>@ViewBag.Bsc[1]</li>
<li>@ViewBag.Bsc[2]</li>

